@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// === MIXIN ===
@mixin inter {
    font-family: "Inter", sans-serif;
}

// === /MIXIN ===
//== VARIABLES ===
$base: 4px;



$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;

$fs-xs: 11px;
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 24px;
$fs-5: 32px;
$fs-6: 40px;



$transition: .2s;


$color--primary: #5C5C5C;
$color--secondary: #7E8492;
$color--white: #fff;
$color--dark: #000000;
$color--seacrh: #F3F3F3;
$color--bg: #E7F6FF;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 960px;




//== /VARIABLES ===
.catalogItem {
    position: relative;
    width: $base * 53;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-bottom: $base * 4;
    padding: $base * 5 0 $base * 9 0;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        transform: translateY(-5px);
    }

    &Name {
        @include inter();
        font-weight: $fw-regular;
        color: $color--dark;
        font-size: $fs-1;
        max-width: $base * 38;
        margin-bottom: $base * 4;
    }

    &BottomWrapper {
        display: flex;
        justify-content: space-between;
        width: $base * 38;
    }

    &PriceWrapper {
        display: flex;
        flex-direction: column;

        b {
            @include inter();
            font-weight: $fw-medium;
            font-size: $fs-xs;
            text-transform: uppercase;
            color: #BDBDBD;
        }
    }

    &Price {
        @include inter();
        font-weight: $fw-bold;
        font-size: $fs-1;
        color: $color--dark;
    }

    &AddButton {
        border: 1px solid #F2F2F2;
        transition: $transition;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &FavoriteButton {
        position: absolute;
        top: $base * 7;
        left: $base * 8;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $base * 8;
        height: $base * 8;
        border: 1px solid #F8F8F8;
        border-radius: 7px;
    }

}