@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// === MIXIN ===
@mixin inter{
    font-family: "Inter", sans-serif;
}
// === /MIXIN ===
//== VARIABLES ===
$base: 4px;



$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;

$fs-xs: 11px;
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 24px;
$fs-5: 32px;
$fs-6: 40px;



$transition: .2s;


$color--primary: #5C5C5C;
$color--secondary: #7E8492;
$color--white: #fff;
$color--dark: #000000;
$color--seacrh: #F3F3F3;
$color--bg: #E7F6FF;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 960px;




//== /VARIABLES ===

//== COMMON ===
html{
    font-size: 16px;
    @include inter();
}
body{
    @include inter();
    background-color: $color--bg;
}
.App{
    background-color: $color--white;
    max-width: 1080px;
    margin: 0 auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

}
a{
    text-decoration: none;
    color: $color--dark;
}
ul{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    
}
.text{
    font-size: 50px;
}
//===CONTAINER===
.container{
    background-color: $color--white;
    max-width: $screen-xl;
    margin: 0 auto;
}
.section-outter{
    padding: 0 20px;
}
//===/CONTAINER===
//== /COMMON ===


// === HEADER ===
.section-header{
    padding-top: $base * 11;
    @include inter();
    margin-bottom: $base * 10;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header{


    &Left{
        display: flex;
        align-items: center;
        img{
            margin-right: $base * 4;
        }
    }
    &Title{
        display: flex;
        flex-direction: column;
        align-items: center;
        &Name{
            font-weight: $fw-bold;
            font-size: $fs-3;
        }
        &Text{
            font-size: $fs-1;
            font-weight: $fw-regular;
            color: $color--primary;
        }
    }

    &Right{
        &List{
            display: flex;
        }
    }
    &Item{
        a{
            display: flex;
            align-items: center;
        }

        & + &{
            margin-left: $base * 8;
        }
        svg{
            margin-right: $base;
        }
        &Text{
            font-size: $fs-1;
            font-weight: $fw-regular;
            color: $color--primary;
        }

    }

}
// === /HEADER ===

// === SHOP === //
.catalogTopWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: $base * 8;
}
.h1{
    @include inter();
    font-size: $fs-5;
    font-weight: $fw-bold;
    color: $color--dark;
}
.catalogSearch{
    @include inter();
    font-size: $fs-2;
    font-weight: $fw-regular;
    border-radius: 10px;
    border: 2px solid $color--seacrh;
    padding: $base * 3 $base * 16 $base * 4 $base * 12;
    background: white url(img/loop.svg) left no-repeat;
    background-position: $base * 5;
}
input {
	all: unset;
}
.catalogFlex{
    display: flex;
    justify-content: space-between;
}
.catalogItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: $base * 53;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    margin-bottom: $base * 4;
    &Name{
        @include inter();
        font-weight: $fw-regular;
        color: $color--dark;
        font-size: $fs-1;
        max-width: $base * 38;
        margin-bottom: $base * 4;
    }
    &BottomWrapper{
        display: flex;
        justify-content: space-between;
        width: $base * 38;
        margin-bottom: $base * 9;
    }
    &PriceWrapper{
        display: flex;
        flex-direction: column;
        b{
            @include inter();
            font-weight: $fw-medium;
            font-size: $fs-xs;
            text-transform: uppercase;
            color: #BDBDBD;
        }
    }
    &Price{
        @include inter();
        font-weight: $fw-bold;
        font-size: $fs-1;
        color: $color--dark;
    }
    button{
        border: 1px solid #F2F2F2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
    }
}
// === /SHOP === //